@import "../../index.scss";

.users {
	position: sticky;
	top: 0;
	width: 100%;
	padding: 5px 0;
	border-bottom: 2px solid slategrey;
	background-color: $blue-accent;
	p {
		color: white;
		padding: 0 10px;
		margin: 5px;
		text-transform: capitalize;
	}
}
