@import "../index.scss";

.users {
	position: sticky;
	top: 0;
	width: 100%;
	border-bottom: 2px solid slategrey;
	background-color: $room-bg;
	p {
		padding: 0 10px;
		margin: 5px;
		text-transform: capitalize;
	}
}
