@import "../../index.scss";

.editors-main {
	.controls {
		@include flex;
		justify-content: flex-end;
		margin-bottom: 20px;
		.controls-placeholder {
			height: 34px;
		}
	}
	.editors {
		.editor-cont {
			@include flex;
			flex-direction: column;
			padding: 20px;
			max-width: 600px;
			min-width: 600px;
			border-radius: 5px;
			border: 2px solid slategrey;
			background-color: $room-accent;
			.player-forfeited {
				span {
					text-transform: capitalize;
				}
			}
			.head {
				@include flex;
				justify-content: flex-end;
				width: 100%;
				.name {
					flex: 1;
					text-transform: capitalize;
					p {
						margin: 0;
						font-size: 1.2rem;
					}
				}
			}
			.stats-cont {
				display: flex;
			}
			.body {
				width: 100%;
				.text-area {
					margin: 25px 0;
					text-align: left;
					letter-spacing: 0.9px;
					color: black;
					span {
						font-size: 1.1rem;
					}
					.current {
						font-weight: 600;
						color: rgb(0, 0, 0);
					}
					.correct {
						color: rgb(4, 53, 117);
					}
					.incorrect {
						color: rgb(160, 4, 4);
					}
				}
				.input-area {
					@include flex;
					width: 100%;
					input {
						flex: 1;
						width: 100%;
					}
					button {
						min-width: 75px;
					}
				}
			}
		}
		&:first-child .editor-cont {
			margin-bottom: 20px;
		}
	}
}

$grey: $room-accent;
$lightgrey: rgb(86, 137, 179);
$lightblue: rgb(19, 114, 192);
$darkblue: rgb(17, 49, 80);

.on-load {
	@include flex;
	position: relative;
	width: 100%;
	opacity: 0;
	animation: fade 1s forwards;
	.time {
		position: absolute;
		left: 50%;
		transform: translate(-50%);
	}
}

@keyframes fade {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.spinner {
	margin: 0 auto;
	pointer-events: none;
	width: 40px;
	height: 40px;
	border: 2px solid transparent;
	border-color: $grey;
	border-top-color: $lightgrey;
	border-radius: 50%;
	animation: spin 1s, colour-wheel 3s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}

@keyframes spin {
	0% {
		transform: rotateZ(0);
	}
	100% {
		transform: rotateZ(360deg);
	}
}

@keyframes colour-wheel {
	0% {
		border-top-color: $lightgrey;
	}
	33% {
		border-top-color: $lightblue;
	}
	66% {
		border-top-color: $darkblue;
	}
	100% {
		border-top-color: $lightgrey;
	}
}
